.fullscreen {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: collapse;
}

#shop-button {
  horizontal-align: right;
  margin-right: 5px;
  margin-bottom: 162px;
  vertical-align: bottom;
  background-color: gradient(linear, 0% 100%, 0% 0%,
    from(#ba9454),
    color-stop(0.6, #583d26),
    color-stop(0.7, #ffffff),
    color-stop(0.8, #eadea8),
    to(#eadea8)
  );
  border: 2px solid #000000;
  padding: 3px 5px;
}
#shop-button.hud-flipped {
  horizontal-align: left;
  margin-left: 5px;
}

#shop-button Label {
  font-size: 22px;
  text-align: center;
  vertical-align: center;
  horizontal-align: center;
  color: #ffffff;
  font-family: "Goudy Trajan";
  background-color: gradient(linear, 0% 100%, 0% 0%,
    from(#755512),
    color-stop(0.1, #755512),
    color-stop(0.3, #dfb92d),
    to(#dfb92d)
  );
  letter-spacing: 1px;
  border: 2px solid #401F14;
  text-shadow: -1px 2px 1px 2.0 #333333b0;
  padding: 3px 3px 3px 3px;
}

#shop {
  border: 3px solid  #555555;
  position: 1517px -230px 0px;
  vertical-align: bottom;
  width: 400px;
  height: 800px;
  background-color: #111111;
  flow-children: down;
  transition: position 0.1s ease-in-out 0.1s;
}
#shop.hud-flipped {
  x: 35px;
  vertical-align: bottom;
}
#shop.stash-visible {
  margin-bottom: 100px;
  height: 700px;
}

#shop.shop-hidden {
  x: 1920px;
  transition: position 0.1s ease-in-out 0.1s;
}
#shop.shop-hidden.hud-flipped {
  x: -500px;
  vertical-align: bottom;
}

#current-view {
  flow-children: right;
}

#current-view .slot {
  width: 60px;
  height: 60px;
  margin: 2px;
}

#current-view .slot .slot-type {
  margin: 2px;
  horizontal-align: left;
  vertical-align: top;
  color: #ffffff;
  background-color: #000000;
}

#tabs {
  flow-children: right;
  width: 100%;
}

.tab {
  padding: 5px 10px 0px 10px;
  color: #d7d7d7;
  margin: 10px 0px 0px 10px;
  background-color: #222222;
  border-top: 3px solid #222222;
  width: 150px;
  font-size: 30px;
  text-align: center;
}

.tab:selected {
  border-top: 3px solid #555555;
}

.tab-content {
  width: 100%;
  height: 100%;
  background-color: #222222;
  flow-children: down;
}

#search-box {
  width: 100%;
  height: 40px;
  font-size: 35px;
  background-color: #333333;
  color: #d7d7d7;
  margin: 10px 0px 10px 0px;
  background-image: url("file://{images}/search.png");
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 45px;
}

#search-box Label {
  color: #505358;
}

#rows {
  flow-children: down;
  overflow: scroll;
}

#shop .hero-row {
  flow-children: right;
  margin-bottom: 20px;
}

#shop .hero-icon {
  margin: 5px;
  vertical-align: middle;
}

#shop .hero-row .abilities {
  width: 380px;
  flow-children: right-wrap;
}

#shop .hero-row .abilities .ability .ultimate {
  margin: 2px;
  horizontal-align: left;
  vertical-align: top;
  color: #ffffff;
  background-color: #000000;
}

#shop .hero-row .abilities .ability {
  width: 80px;
  height: 80px;
  margin: 2px;
  border-radius: 5px;
  border: 2px solid #a28425;
}

#shop .hero-row .abilities .ability:hover {
  box-shadow: #755512 -3px -3px 6px 6px;
}

#shop .hero-row .abilities .ability.not-buyable:hover {
  box-shadow: #000000 0px 0px 0px 0px;
}

#shop .hero-row .abilities .ability.not-buyable {
  border: 2px solid #222222;
}

#item-tab-content .item-group .shop-item .out-of-stock {
  border: 2px solid #222222;
  opacity: 0.5;
}

.subabilities {
  flow-children: down;
  horizontal-align: left;
  vertical-align: bottom;
  background-color: #000000;
}

.subabilities DOTAAbilityImage {
  width: 30px;
  height: 30px;
  margin: 3px;
}

.out-of-stock .stock {
  color: #ff0000;
}

#item-tab-content {
  flow-children: down;
  padding: 5px;
}

#item-tab-content .item-group {
  flow-children: right-wrap;
}

#item-tab-content .item-group .shop-item {
  margin: 2px;
  border-radius: 5px;
  border: 2px solid #a28425;
}
#item-tab-content .item-group .shop-item.not-buyable {
  border: 2px solid #222222;
}
#item-tab-content .item-group .shop-item:hover {
  box-shadow: #755512 -2px -2px 4px 4px;
}
#item-tab-content .item-group .shop-item.not-buyable:hover {
  box-shadow: #000000 0px 0px 0px 0px;
}
#item-tab-content .item-group .shop-item.out-of-stock:hover {
  box-shadow: #000000 0px 0px 0px 0px;
}

.cost {
  margin: 2px;
  horizontal-align: right;
  vertical-align: bottom;
  color: #ffd700;
  background-color: #000000;
}

.value {
  margin: 2px;
  horizontal-align: left;
  vertical-align: bottom;
  color: #ff0000;
  background-color: #000000;
}

.stock {
  margin: 2px;
  horizontal-align: left;
  vertical-align: bottom;
  color: #ffffff;
  background-color: #000000;
}