.fullscreen {
  width: 100%;
  height: 100%;
}

.background {
  background-color: #000000;
}

#draft-description {
  margin-left: 425px;
  margin-top: 35px;
  width: 500px;
  color: #ffffff;
  font-size: 40px;
  text-align: right;
}

.draft-timer {
  margin-left: 25px;
  margin-top: 35px;
  width: 575px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

#teams {
  margin-left: 1150px;
  margin-top: 5px;
  flow-children: down;
}

#items {
  margin-left: 10px;
  margin-top: 100px;
}

#draft-order {
  flow-children: right;
  margin-top: 5px;
  margin-left: 725px;
  width: 400px;
}

#draft-order .draft-order-player {
  flow-children: down;
  margin: 5px;
}

#draft-order .draft-order-player DOTAAvatarImage {
  width: 60px;
  height: 60px;
}

#draft-order .overlay.last-fade {
  width: 100%;
  height: 100%;
  background-color: gradient(linear, 0% 0%, 100% 0%, from(rgba(0, 0, 0, 0)), color-stop(0.75, #000000), to(#000000));
}

.hidden {
  visibility: collapse;
}