.player-draft-area {
  background-color: #111111;
  padding: 5px;
  border-radius: 10px;
  flow-children: right;
  width: 800px;
  height: 100px;
}

.player-draft-area .player-info {
  flow-children: down;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #444444;
  height: 100%;
  font-size: 15px;
  color: #ffffff;
}

.player-draft-area .player-info DOTAAvatarImage {
  width: 60px;
  height: 60px;
}

.current-drafter {
  box-shadow: #755512 -2px -2px 4px 4px;
}

.player-draft-area .player-info .remaining-money {
  color: #FFD700;
  align: right bottom;
  background-color: #000000;
}

.player-draft-area .drafted-items {
  overflow: squish scroll;
  flow-children: right-wrap;
}

.player-draft-area .drafted-items .drafted-item {
  width: 55px;
  height: 40px;
  overflow: squish;
}
