.player-draft-area {
  flow-children: right;
}

.player-draft-area .player-info {
  width: 70px;
  flow-children: down;
}

.player-draft-area .player-info DOTAAvatarImage {
  width: 60px;
  height: 60px;
}

.current-drafter {
  background-color: #FFD700;
}

.player-draft-area .player-info .remaining-money {
  color: #FFD700;
  align: right bottom;
  background-color: #000000;
}

.player-draft-area .drafted-items {
  flow-children: right-wrap;
}

.player-draft-area .drafted-items .drafted-item {
  width: 40px;
  height: 30px;
  overflow: squish;
}
