*.vtex_c
*.vxml_c
*.vjs_c
*.vcss_c
*.vpcf_c
game/dota_addons/tools_thumbnail_cache.bin
game/dota_addons/tools_asset_info.bin
game/dota_addons/panorama_debugger.cfg
game/dota_addons/itemdraft/tools_asset_info.bin
game/dota_addons/itemdraft/tools_thumbnail_cache.bin
game/dota_addons/itemdraft/panorama_debugger.cfg