.gameinfo {
  color: #ffffff;
	font-size: 25px;
  flow-children: down;
}

.gameinfo Label {
  margin-bottom: 25px;
}

.gameinfo Label a {
  color: #5555ff;
  text-decoration: underline;
}

.gameinfo Label .alpha {
  font-weight: bold;
  text-transform: uppercase;
}